flask-socketio>=4.3.0
gevent-websocket>=0.10.1
eventlet>=0.25.2
fuzzywuzzy>=0.18.0
pandas>=1.0.3
Flask~=1.1.2
nltk~=3.5
spacy~=2.2.4
transformers~=2.11.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz