/*
Basic styling for page
Authors: Kevin Katzkowski
Last modified: 17.06.2020
*/

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro', Consolas, monospace;
}

html, body {
  font-size: 100%;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow: hidden;
}

h1 {
  color: var(--color-text);
  
  text-align: center;
  font-size: 1.8rem;
}

h2 { 
  font-size: 1.5rem;
}

h3 {
  padding: 0.25rem 1rem;
}

ul {
  list-style-type: none;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary); 
  color: var(--color-onprimary);
}

#top-bar h1 {
  flex-grow: 2;
}

#top-bar h1,h2 {
  padding: 0.5rem 1rem;
}
