/* 
Main stylesheet for chat layout
Authors: Kevin Katzkowski, mon janssen
Last modified: 17.06.2020
*/

#chat-container {
  background-color: var(--color-surface-light);
  width: 80%;
  /* replace with @media */
  height: 100%;
  margin: 0 auto;
  border: var(--border-chat);
  border-radius: var(--border-radius);
  overflow: hidden;
}

#chat-content-container {
  overflow-y: scroll;
  height: 90%;
  scrollbar-color: var(--color-primary) var(--color-surface-light);
  scrollbar-width: thin;
  scroll-behavior: smooth;
  background-color: var(--color-surface-light);
}

#chat-content-container::-webkit-scrollbar {
  width: 0.5rem;
}

#chat-content-container::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); */
  padding-right: 0.25rem;
  background-color: var(--color-surface-light);
  width: 1rem;
}

#chat-content-container::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
}

.chat-message-user, .chat-message-bot, .ticontainer {
  margin: 1rem;
  padding: 0.25rem;
}

.chat-message-user {
  color: var(--color-message-user);
}

.chat-message-bot {
  color: var(--color-message-bot);
}

#chat-input-user {
  width: 80%;
  position: fixed;
  margin: 0.75rem 10%;
  bottom: 0;
}

#chat-input-user input[type="text"] {
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
  border: var(--border-input);
  padding: 0.5rem 1rem;
  color: var(--color-message-user);
  box-sizing: border-box;
  width: 100%;
}

#chat-input-user input[type="text"]::placeholder {
  color: var(--color-text-placeholder);
}

/* does not work properly in Chrome -> grey instead of #fff */

#chat-input-user input[type="text"]::selection {
  color: var(--color-message-user);
  background-color: var(--color-surface-light);
}

#chat-input-user input[type="text"]:focus {
  outline: none;
  border-color: var(--color-primary-light);
}

#chat-input-user button {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-message-user);
  transition: 0.2s;
  color: var(--color-onprimary);
  font-weight: 600;
  flex-basis: calc(17.5% - 1rem);
  padding: 0.5rem 1rem;
  margin: 0 0 0 1rem;
}

#chat-input-user button:hover {
  background-color: var(--color-primary-light);
}

form#chat-input-form {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  padding: 0 1.25rem;
}

#chat-input-user-window {
  flex-basis: 82.5%;
  background-color: var(--color-surface-dark);
  border-radius: var(--border-radius);
  overflow: hidden;
}

#suggestion-container {
  display: none;
  overflow: hidden;
  background-color: var(--color-surface-dark);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border: var(--border-input);
  border-bottom: none;
  margin-bottom: -1rem;
  padding-top: 0.25rem;
  padding-bottom: 1.25rem;
}

.suggestion {
  padding: 0.25rem 1rem;
  color: var(--color-text);
}

.suggestion.selected, .suggestion:focus {
  background-color: var(--color-surface);
  outline: none;
  cursor: default;
}

mark {
  background-color: var(--color-primary-light);
}

#suggestion-heading {
  font-size: 75%;
  font-weight: bold;
  color: var(--color-text); /* was color-text-placeholder */
  padding: 0 1rem;
}

/* type indicator */

.tiblock {
  align-items: center;
  display: flex;
  height: 17px;
}

.ticontainer .tidot {
  background-color: var(--color-message-bot);
}

.tidot {
  -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
}

@-webkit-keyframes mercuryTypingAnimation {
  0% {
    -webkit-transform: translateY(0px)
  }
  28% {
    -webkit-transform: translateY(-5px)
  }
  44% {
    -webkit-transform: translateY(0px)
  }
}

.tidot:nth-child(1) {
  -webkit-animation-delay: 200ms;
}

.tidot:nth-child(2) {
  -webkit-animation-delay: 300ms;
}

.tidot:nth-child(3) {
  -webkit-animation-delay: 400ms;
}

@media only screen and (max-width: 600px) {
  #chat-container {
    width: 100%;
  }
  .chat-message-user, .chat-message-bot, .ticontainer {
    margin: 0.5rem;
  }

  #chat-input-user {
    width: 100%;
    margin: 0.25rem 0;
  }

  form#chat-input-form {
    padding: 0 0.5rem;
  }

  #top-bar h1, h2 {
    padding: 0.25rem 0.5rem;
  }

  h2#brand {
    display: none;
  }
}