/*
Styling for login and Signup form
Authors: Kevin Katzkowski
Last modified: 12.08.2020
*/

.login,
.signup {
  bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 25rem;
  padding: 2rem;
}


.login button.secondary,
.login button.primary,
.login input[type="text"],
.login input[type="password"],
.signup button.secondary,
.signup button.primary,
.signup input[type="text"],
.signup input[type="password"] {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
}

.login input[type="text"],
.login input[type="password"],
.signup input[type="text"],
.signup input[type="password"] {
  color: var(--color-text);
  box-sizing: border-box;
  border: var(--border-input);
  background-color: var(--color-surface);
  border-radius: var(--border-radius);
}

.login input:focus, 
.singup input:focus {
  outline: none;
  border: var(--border-highlight);
}

.login h2,
.signup h2 {
  text-transform: uppercase;
  text-align: center;
}

.login p,
.signup p,
.login a,
.signup a {
  margin: 0.5rem 0rem;
  text-align: center;
}

p.error-message {
  color: var(--color-error);
}

.login form,
.signup form {
  margin: 3rem 0 0;
}

.login a#signup-instead,
.signup a#login-instead {
  opacity: 0.8;
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
}

.login a#signup-instead:hover,
.signup a#login-instead:hover {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.login label,
.signup label {
  opacity: 0.8;
  display: inline-block;
  margin: .75rem 0 0;
  font-size: 0.9rem;
}

@media only screen and (max-width: 700px) {
  .login,
  .signup {
    position: absolute;
    top: 3rem;
    bottom: 0;
    right: 0;
    left: 0;

    width: auto;
    margin: 0 auto;
    border: none;
    box-shadow: none;
    transition: top 0.5s ease-in-out, filter 0.5s ease-in-out;
  }
}