<!DOCTYPE html>
<html lang="en" data-theme="light" data-mode="game">

<!--
  Error page
  Authors: Jeffrey Pillmann
  Last modified: 16.07.2020
-->

<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <!-- Google icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS files -->
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/colors.css">
  <link rel="stylesheet" href="../static/css/error.css">

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="../static/img/elephanture.svg" sizes="any">

  <title>Error {{ error_code }}</title>
</head>

<body>
  <nav>
    <div class="menu-bar">
      <img class="logo" src="../static/img/elephanture.svg">
      <a href="{{ url_for('send_index_page') }}">
        <h1 id="brand">Elephanture</h1>
      </a>

      <label for="toggle" id="hamburger">&#9776;</label>
      <input type="checkbox" id="toggle" />
    </div>

    <ul id="nav-links">
      <li><a href="{{ url_for('send_play_page', username= username) }}">Play</a></li>
      <li><a href="https://elephanture.informatik.uni-bremen.de/#about">About</a></li>

      <li class="user-account secondary">
          <a class="link-profile" href="{{ url_for('send_profile_page', username= username) }}">{{ username }}
          </a>
      </li>
  </ul>

  </nav>
  <div class="container error">
    <div class="circle">
      <img src="../static/img/placeholdericon.svg" alt="Sorry!" class="icon">
    </div>
    <h1 class="error-heading">Error {{ error_code }}</h1>
    <p>{{ error }}</p>
    <a href="{{ url_for('send_index_page') }}">
      <button id="home-button" type="button" class="primary">Back to home</button>
    </a>
  </div>
  
  <footer>
    <img class="logo" src="../static/img/elephanture.svg">
    <p><a href="{{ url_for('legal') }}">Legal Notice | Disclaimer</a></p>
  </footer>

  <script type="module" src="../static/js/settings.mjs"></script>
  <script type="module" src="../static/js/mobile.mjs"></script>

</body>

</html>