<!DOCTYPE html>
<html lang="en" data-theme="light" data-mode="game">

<!--
  Error page
  Authors: Jeffrey Pillmann
  Last modified: 16.07.2020
-->

<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <!-- Google icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS files -->
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/colors.css">
  <link rel="stylesheet" href="../static/css/error.css">

  <!-- TODO change title -->
  <title>Error {{ error_code }}</title>
</head>

<body>
  <nav>
    <div class="menu-bar">
      <h1 id="brand">Elephanture</h1>

      <!-- Hamburger Menu -->
      <label for="toggle" id="hamburger">&#9776;</label>
      <input type="checkbox" id="toggle" />
    </div>

    <ul id="nav-links">
      <li><a href="{{ url_for('send_play_page', username= username) }}">Play</a></li>
      <!--- TODO do not redirect without user name -->
      <li><a href="#">About</a></li>
      <li><a href="#">More</a></li>
      <li></li>
    </ul>

    <!-- <div class="user-account">
      <p class="user-name">Santa Claus</p>
      <div class="avatar small"></div>
    </div> -->

    <button class="secondary">Log In</button>

  </nav>
  <div class="container error">
    <div class="circle">
      <img src="../static/img/placeholdericon.svg" alt="Sorry!" class="icon">
    </div>
    <h1 class="error-heading">Error {{ error_code }}</h1>
    <!-- <p>The page you are looking for might have been removed, had it´s name changed, is temporarily unavailable, or does not exist.</p> -->
    <p>{{ error }}</p>
    <a href="{{ url_for('login') }}">
      <button id="home-button" type="button" class="primary">Back to home</button>
    </a>
  </div>

  <script type="module" src="../static/js/settings.mjs"></script>
  <script type="module" src="../static/js/mobile.mjs"></script>

</body>

</html>