<!DOCTYPE html>
<html lang="en">

<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <!-- CSS files -->
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/colors.css">
  <link rel="stylesheet" href="../static/css/chat.css">
  

  <!-- TODO change title -->
  <title>chatbot project</title>
</head>

<body>
    
 


    <div id="chat-input-user">
      <form>
        <input type="text" id="send-button" placeholder="What will you do?"></input>
        <input type="submit" value="send">
      </form>
    </div>

    </div>


  <!-- load socket libary -->
  <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js">
	 

	  </script>

  <!-- custom javascript -->
  <script type="text/javascript" src="../static/js/client.js"></script>
</body>

</html>