<!DOCTYPE html>
<html lang="en">

<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <!-- CSS files -->
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/colors.css">
  <link rel="stylesheet" href="../static/css/chat.css">

  <!-- TODO change title -->
  <title>chatbot project</title>
</head>

<body>
    
  <div id="chat-container">
    <h1>Chapter 3</h1>

    <div id="chat-content-container">
      <!-- example messages for chat -->
      <div class="chat-message-bot">
        You go down an alley and see a strange woman. <br> She checks her watch nervously multiple times and looks around, as if she doesn't want to be seen. She is standing betwen multiple big Flowerpots, but they are all empty.
      </div>
      
      <div class="chat-message-user">
        I'll hide behind a big pot and observe.
      </div>

      <div class="chat-message-bot">
        A tall man approraches her and the woman quickly jumps into one of the pots aswell, her head sticking out like a turnip. The man walks up to her and stops. "Come out little turnip" he says. The woman steps out and bows down before him. She hands him a white paper bag, which he almost rips out of her hand, and opens. smiles and nods at her, then they both walk away into two different directions. 
      </div>

      <div class="chat-message-user">
        Step out of the flower pot.
      </div>
      
      <div class="chat-message-bot">
        As you step out of the pot, you hear a strange sound from behind you. You see another guy stepping out of a pot, holding a camera and a pack of tissues, the chubby man tries hide his face behind his cap as he notices you. He escapes into a side alley.
      </div>

      <div class="chat-message-bot">
        You go down an alley and see a strange woman. <br> She checks her watch nervously multiple times and looks around, as if she doesn't want to be seen. She is standing betwen multiple big Flowerpots, but they are all empty.
      </div>
      
      <div class="chat-message-user">
        I'll hide behind a big pot and observe.
      </div>

      <div class="chat-message-bot">
        A tall man approraches her and the woman quickly jumps into one of the pots aswell, her head sticking out like a turnip. The man walks up to her and stops. "Come out little turnip" he says. The woman steps out and bows down before him. She hands him a white paper bag, which he almost rips out of her hand, and opens. smiles and nods at her, then they both walk away into two different directions. 
      </div>

      <div class="chat-message-user">
        Step out of the flower pot.
      </div>
      
      <div class="chat-message-bot">
        As you step out of the pot, you hear a strange sound from behind you. You see another guy stepping out of a pot, holding a camera and a pack of tissues, the chubby man tries hide his face behind his cap as he notices you. He escapes into a side alley.
      </div>

      <div class="chat-message-bot">
        You go down an alley and see a strange woman. <br> She checks her watch nervously multiple times and looks around, as if she doesn't want to be seen. She is standing betwen multiple big Flowerpots, but they are all empty.
      </div>
      
      <div class="chat-message-user">
        I'll hide behind a big pot and observe.
      </div>

      <div class="chat-message-bot">
        A tall man approraches her and the woman quickly jumps into one of the pots aswell, her head sticking out like a turnip. The man walks up to her and stops. "Come out little turnip" he says. The woman steps out and bows down before him. She hands him a white paper bag, which he almost rips out of her hand, and opens. smiles and nods at her, then they both walk away into two different directions. 
      </div>

      <div class="chat-message-user">
        Step out of the flower pot.
      </div>
      
      <div class="chat-message-bot">
        As you step out of the pot, you hear a strange sound from behind you. You see another guy stepping out of a pot, holding a camera and a pack of tissues, the chubby man tries hide his face behind his cap as he notices you. He escapes into a side alley.
      </div>
    </div>

    <div id="chat-input-user">
      <form>
        <input type="text" placeholder="What will you do?"></input>
        <input type="submit" value="send">
      </form>
    </div>

  </div>

  <!-- load socket libary -->
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>

  <!-- custom javascript -->
  <script src="../static/js/client.js"></script>
</body>

</html>