<!DOCTYPE html>
<html>
    <head>
        <link href="../static/css/login.css" rel="stylesheet"/>
        <script src="../static/js/jquery-1.10.2.min.js"></script>
        <script src="../static/js/login.js"></script>
    </head>
    <body>
        <div id="box">
            <div id="main"></div>

            <div id="loginform">
                <h1>LOGIN</h1>
                <input type="text" placeholder="Username"/><br>
                <input type="password" placeholder="Password"/><br>
                <button>LOGIN</button>
            </div>

            <div id="signupform">
                <h1>SIGN UP</h1>
                <input type="text" placeholder="Username"/><br>
                <input type="password" placeholder="Password"/><br>
                <button>SIGN UP</button>
            </div>

            <div id="login_msg">Start jouney with us!</div>
            <div id="signup_msg">Welcome to Elephanture!</div>

            <button id="login_btn">LOGIN</button>
            <button id="signup_btn">SIGN UP</button>


        </div>
    </body>
</html>