<!DOCTYPE html>
<html lang="en" data-theme="light" data-mode="game">

<!--
  Login page
  Authors: Kevin Katzkowski
  Last modified: 02.07.2020
-->

<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <!-- Google icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS files -->
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/colors.css">
  <link rel="stylesheet" href="../static/css/user.css">
  <link rel="stylesheet" href="../static/css/login-signup.css">

  <!-- TODO change title -->
  <title>Login</title>
</head>

<body>
  <nav>
    <div class="menu-bar">
      <h1 id="brand">Elephanture</h1>

      <!-- Hamburger Menu -->
      <label for="toggle" id="hamburger">&#9776;</label>
      <input type="checkbox" id="toggle" />
    </div>

    <ul id="nav-links">
      <li><a href="{{ url_for('send_play_page', username= username) }}">Play</a></li>
      <!--- TODO do not redirect without user name -->
      <li><a href="#">About</a></li>
      <li><a href="#">More</a></li>
      <li></li>
    </ul>

    <!-- <div class="user-account">
      <p class="user-name">Santa Claus</p>
      <div class="avatar small"></div>
    </div> -->

    <button class="secondary">Log In</button>

  </nav>

  <div class="container login">
    <h2 id="login-heading">Log in</h2>
    <p id="login-text">to load your game progress</p>
    <p class="error-message">{{ error_message }}</p>

    <form id="login-form" method="POST" action="/login">
      <input id="user-name" name="username" type="text" placeholder="username" required>
      <input id="user-password" name="password" type="password" placeholder="password" required>

      <!-- <button class="secondary">sign up</button> -->
      <button id="login-button" type="submit" class="primary">log in</button>

    </form>

    <a id="signup-instead" href="/signup">sign up instead</a>

  </div>

  <!-- load custom javascript -->
  <script type="module" src="../static/js/settings.mjs"></script>
  <script type="module" src="../static/js/mobile.mjs"></script>
</body>

</html>