<!DOCTYPE html>
<html lang="en" data-theme="light" data-mode="game">

<!--
  Login page
  Authors: Kevin Katzkowski
  Last modified: 12.08.2020
-->

<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <!-- Google icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS files -->
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/colors.css">
  <link rel="stylesheet" href="../static/css/login-signup.css">

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="../static/img/elephanture.svg" sizes="any">

  <title>Login</title>
</head>

<body>
  <nav>
    <div class="menu-bar">
      <img class="logo" src="../static/img/elephanture.svg" type="image/svg">
      <a href="{{ url_for('send_index_page') }}">
        <h1 id="brand">Elephanture</h1>
      </a>

      <label for="toggle" id="hamburger">&#9776;</label>
      <input type="checkbox" id="toggle" />
    </div>

    <ul id="nav-links">
      <li><a href="{{ url_for('send_play_page', username= username) }}">Play</a></li>
      <li><a href="https://elephanture.informatik.uni-bremen.de/#about">About</a></li>

      <li class="user-account secondary">
          <a class="link-profile" href="{{ url_for('send_profile_page', username= username) }}">Log in
          </a>
      </li>
  </ul>

  </nav>

  <div class="container login">
    <h2 id="login-heading">Log in</h2>
    <p id="login-text">to load your game progress</p>
    <p class="error-message">{{ error_message }}</p>

    <form id="login-form" method="POST" action="/login">
      <input id="user-name" name="username" type="text" placeholder="username" required>
      <input id="user-password" name="password" type="password" placeholder="password" required>

      <!-- <button class="secondary">sign up</button> -->
      <button id="login-button" type="submit" class="primary">log in</button>

    </form>

    <a id="signup-instead" href="/signup">sign up instead</a>

  </div>
  
  <footer>
    <img class="logo" src="../static/img/elephanture.svg">
    <p><a href="{{ url_for('legal') }}">Legal Notice | Disclaimer</a></p>
  </footer>

  <!-- load custom javascript -->
  <script type="module" src="../static/js/settings.mjs"></script>
  <script type="module" src="../static/js/mobile.mjs"></script>
</body>

</html>
