<!DOCTYPE html>
<html lang="en" data-theme data-mode="game">

<!--
  Chat interface page
  Authors: Kevin Katzkowski, Jeffrey Pillmann
  Last modified: 14.07.2020
-->

<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <!-- Google icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS files -->
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/colors.css">
  <link rel="stylesheet" href="../static/css/chat.css">
  <link rel="stylesheet" href="../static/css/login-signup.css">

  <!-- TODO change title -->
  <title>Elephanture</title>
</head>

<body>

  <nav>
    <div class="menu-bar">
      <h1 id="brand">Elephanture</h1>

      <!-- Hamburger Menu -->
      <label for="toggle" id="hamburger">&#9776;</label>
      <input type="checkbox" id="toggle" />
    </div>

    <ul id="nav-links">
      <li><a href="{{ url_for('send_play_page', username= username) }}">Play</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">More</a></li>
      <li><a href="#">{{ username }}</a></li>
    </ul>

    <a class="link-profile" href="{{ url_for('send_profile_page', username= username) }}">
      <div class="user-account">
        <p id="username" class="user-name">{{ username }}</p>
        <div class="avatar small"></div>
      </div>
    </a>

  </nav>

  <div class="container">

    <div id="top-bar">
      <h3 id="room-name"></h3>
      <h3 id="level"></h3>
    </div>

    <ul id="chat-content-container">
        
      <!-- <li class="chat-message-disclaimer">We take no responsibility for AI generated text. <a href="#">Learn why</a></li> -->

      <!-- new messages are added below -->


      <!-- type indicator -->
      <div id="type-indicator" class="ticontainer">
        <div class="tiblock">
          <div class="tidot"></div>
          <div class="tidot"></div>
          <div class="tidot"></div>
        </div>
      </div>

    </ul>

    <div id="chat-input-user">
      <form id="chat-input-form">
        <div id="chat-input-user-window">

          <div id="suggestion-container">
            <!-- suggestions are added here -->
          </div>

          <input id="input-user" type="text" placeholder="What will you do?" spellcheck="false" autocomplete="off"
            tabindex="0" autofocus> </input>
        </div>

        <button type="button" class="primary" id="send-button">send</button>
      </form>
    </div>
  </div>



  <!-- load socket libary -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  
  <!-- load audio library -->
  <!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=CVUNQWbR"></script> -->

  <!-- load custom javascript -->
  <script type="module" src="../static/js/client.mjs"></script>
  <script type="module" src="../static/js/settings.mjs"></script>
  <script type="module" src="../static/js/mobile.mjs"></script>

</body>

</html>