<!DOCTYPE html>
<html lang="en" data-theme="light" data-mode="game">

<!--
  User account  page
  Authors: Kevin Katzkowski, Jeffrey Pillmann
  Last modified: 02.07.2020
-->

<head>
  <!-- required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no">

  <!-- Google icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- CSS files -->
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/colors.css">
  <link rel="stylesheet" href="../static/css/user.css">

  <!-- TODO change title -->
  <title>Elephanture</title>
</head>

<body>
  <nav>
    <div class="menu-bar">
      <h1 id="brand">Elephanture</h1>

      <!-- Hamburger Menu -->
      <label for="toggle" id="hamburger">&#9776;</label>
      <input type="checkbox" id="toggle" />
    </div>

    <ul id="nav-links">
      <li><a href="{{ url_for('send_play_page', username= username) }}">Play</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">More</a></li>
      <li><a href="#">{{ username }}</a></li>
    </ul>


    <a class="link-profile" href="{{ url_for('send_profile_page', username= username) }}">
      <div class="user-account">
        <p id="username" class="user-name">{{ username }}</p>
        <div class="avatar small"></div>
      </div>
    </a>

  </nav>

  <div class="container setting-content">

    <div class="user-bar">
      <div class="user-account account-display">
        <img class="avatar large">
        <h1 class="user-name">{{ username }}</h1>
      </div>

      <h4><a href="{{ url_for('logout') }}">LOG OUT</a></h4>
    </div>

    <div class="settings-container">
      <h3>Account</h3>
      <div>
        <p>Change Username</p>
        <button id="change-username" class="secondary">Change</button>
      </div>
      <div>
        <p>Delete your account</p>
        <button id="delete-account" class="secondary">Delete</button>
      </div>
    </div>

    <div class="settings-container">
      <h3>Game</h3>
      <div>
        <p>Show input suggestions</p>
        <input type="checkbox" class="settings" id="show-suggestion"></input>
      </div>
      <div>
        <p>Text-to-speech</p>
        <input type="checkbox" class="settings" id="read-messages"></input>
      </div>
      <div>
        <p>Game version for study</p>
        <input id="gpt2-output" type="checkbox" class="settings"></input>
      </div>
      <div class="theme-select">
        <p>Select theme</p>
        <div class="theme-radio-buttons">
          <div>
            <input type="radio" id="system" name="interface-mode"></input>
            <label for="system">System</label>
          </div>
          <div>
            <input type="radio" id="light" name="interface-mode"></input>
            <label for="light">Light</label>
          </div>
          <div>
            <input type="radio" id="dark" name="interface-mode"></input>
            <label for="dark">Dark</label>
          </div>
        </div>
      </div>

      <div>
        <p>Delete game progress</p>
        <button id="delete-game-progress" class="secondary">Delete</button>

      </div>
    </div>

  </div>

  <!-- load custom javascript -->
  <script type="module" src="../static/js/profile.js"></script>
  <script type="module" src="../static/js/settings.mjs"></script>
  <script type="module" src="../static/js/mobile.js"></script>
</body>

</html>